<div class="top-container" 
style="background-image: url(http://image.tmdb.org/t/p/w500/{{principal.poster_path}});
background-repeat: no-repeat;
background-size: cover; 
background-position: center; 
">
  <div class="search-bar"> 
    <input 
    class="input-search" 
    type="text" placeholder="Buscar"> 
  </div>
  
  <div class="most-pop">
    <h2>{{principal.original_title}}</h2>  
      <h2>Más Popular</h2>
      <div style="display: inline-flex;"> 
        <div *ngIf="principal.vote_average/2 >= 4.5"> * </div>
        <div *ngIf="principal.vote_average/2 >= 3.5"> * </div>
        <div *ngIf="principal.vote_average/2 >= 2.5"> * </div>
        <div *ngIf="principal.vote_average/2 >= 1.5"> * </div>
        <div *ngIf="principal.vote_average/2 >= 0.5"> * </div>
      </div>
 
  </div>
</div>

<div class="carousel-div">
  <h3 class="carousel-title">
  Peliculas populares 
  </h3>
</div>

<div class="carousel-div">
  <h3 class="carousel-title">
  Series populares
  </h3>
</div>

<div class="clamed">
  <h3 class="clamed-title">
    Peliculas más clamadas
  </h3>
  
</div>



<router-outlet></router-outlet>