<div style="  height: 100%; width: 100%  ">
	
	<div class="detail-header" style="background-image: url(http://image.tmdb.org/t/p/w500/{{movie.backdrop_path}});">
		
		<div  class="movie-container">
			<div>
				<img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="poster-img">
				
				<div class="genres" > 
				 	<div style=" display: inline-flex; margin: 2%; padding: 2%; " class="carousel-cell" *ngFor="let item of movie.genres; let i = index">
		            <div class="gentags" > <small>{{item.name}}</small></div>
		            </div>
				</div>
			</div>

			<div class="secdiv">
				<h1 style="font-weight: bold; font-size:2.5em; color:white;">
					{{movie.original_title}}
				</h1>				
				<div style="display: inline-flex;"> 
			        <div *ngIf="movie.vote_average/2 >= 4.5"> <img src="/assets/st.png" alt="">  </div>
			        <div *ngIf="movie.vote_average/2 >= 3.5"> <img src="/assets/st.png" alt="">  </div>
			        <div *ngIf="movie.vote_average/2 >= 2.5"> <img src="/assets/st.png" alt="">  </div>
			        <div *ngIf="movie.vote_average/2 >= 1.5"> <img src="/assets/st.png" alt="">  </div>
			        <div *ngIf="movie.vote_average/2 >= 0.5"> <img src="/assets/st.png" alt="">  </div>
				</div>
				<div *ngIf="movie.overview !==''" style="color:white; padding: 15% 30% 0 0;  font-size: 1.5em ; line-height: 1.8; text-align: justify;">
					{{movie.overview}}
				</div>

				<div *ngIf="movie.overview ==''" style="color:white; padding: 50% 30% 0 0;  font-size: 2em ; line-height: 1.8; ">
					No hay descripción disponible
				</div>
				<div  style=" color:white; padding: 15% 30% 10% 0; display: flex; flex-direction: row; justify-content:space-between;
				" >
				<div class="buttonM" (click)="addFav(movie)" >
					añadir a favoritos  
				</div>
				<div class="buttonM" [routerLink]="'/'" >
					regresar
				</div> 
				</div>
			</div>
		</div>
	</div>
</div>