.detail-header{
	background-repeat: no-repeat;
	background-position: center;  
	background-color: #ccc;
	background-size: cover; 
	height: 50%;
}

.movie-container{
	display: flex; 
	flex-direction:row; 
	padding: 15% 0 0 15%;
}


.genres{
	margin: 10% 0; 
}


.buttonM{
width: 180px;
height: 1.5em; 
padding: 10px;
margin: 0 5%;
float: right;  
background-color: 
lightgray; 
color:gray; 
border-radius: 25px;
text-align: center;
}
@media( max-width: 768px){

.buttonM{
width: 180px;
height: 2.5em; 
padding: 10px;
margin: 0 5%;
float: right;  
background-color: 
lightgray; 
color:gray; 
border-radius: 25px;
text-align: center;
}

}
.gentags{
	height: 120%;
	width: 120%;
	border-radius: 25px;
	background-color: gray;
	color :white; padding: 10%;
}
.secdiv{ padding-left: 10%;
			 }

@media(max-width: 768px){
.movie-container{
	flex-direction:column; 
}
.genres{
	margin: 5% 0;  
}

.secdiv{padding-left: 0;}

}

.poster-img{  
height: 300px;
width: 200px;     
} 